/* find.css */
.find__options{
    margin-top: 10px;
    color: #523737;
    background: #eee;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
  }
  
  .find__option{
    display: flex;
    flex-direction: column;
  
    .find__option i{
    text-align: center;
    font-size: 20px;
    }
    .find__option span{
    margin: 10px 0 0;
    font-size: 12px;
  }
  
  }
  
  .find__recommended{
    color: #bbb;
  }
  .recommended__title{
    font-size: 12px;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
  }
  .recommended__none{
    text-align: center;
    padding: 20px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
  }