.more{
    background: #eee;
  }
  .more .more__header{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 20px;
  }
  .more__header .more-header__column{
    display: flex;
    align-items: center;
  }
  .more__header i{
    color: #523737;
    font-size: 30px;
  }
  .more-header__title{
    font-weight: 600;
  }
  .more-header__subtitle{
    font-size: 12px;
    color: #bbb;
  }
  
  .more-header__column img{
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .more__options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    background: #fff;
  }
  .more-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #523737;
    padding: 10px;
  }
  .more-option i{
    font-size: 30px;
    padding: 10px;
  }
  .more-option__title{
    font-size: 12px;
    cursor: pointer;
  }
  .plus-friends{
    background: #fff;
    margin-bottom: 10px;
  }
  .plus-friends__header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-weight: normal;
    font-size: 16px;
  }
  .plus-friends__header span{
    color: #bbb;
  }
  .plus-friends__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .plus-friends__item{
    width: 50%;
    margin-bottom: 30px;
  }
  .plus-friends__item i{
    padding: 15px 15px 0;
  }
  .plus-friends__item span{
    font-size: 12px;
    cursor: pointer;
  }
  .more__links{
    display: flex;
    background: #fff;
  }
  .more__option{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 15px;
  }
  .more__options-title{
    font-size: 12px;
    margin: 10px 0;
  }
  .more__links img{
    width: 45px;
  }